= link_to 'Login with Facebook', '/auth/facebook', :id => 'account'
%form{:action => "/index/chat", :method => "post"}
  %textarea{:cols => "30", :id => "", :name => "message", :rows => "10"}
  %input{:type => "submit", :value => "send"}